<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- Excludes compiler/source-generator output (e.g. Microsoft.AspNetCore.OpenApi's
               XmlCommentGenerator) from coverage - it isn't code we write or can test. -->
          <ExcludeByFile>**/obj/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
