.investment-tree-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 599px) {
  .investment-tree-page {
    height: auto;
    overflow-y: auto;
  }
}
